.blue-button {
    color: var(--color-text-light);
    width: var(--vehicle-button-width);
    height: var(--vehicle-button-height);
    border: none;
    border-radius: var(--border-radius-small);
    background-color: var(--background-color-blue);
}