@use '../mixins';
@use '../media';

.end {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 30px;
    margin-bottom: 80px;

    @include media.desktop {
        margin-top: 80px;
    }

    @include media.tablet {
        align-items: center;
    }

    &__header {
        color: var(--color-text-dark);
        font-size: 30px;
    }

    &-card {
        max-width: 270px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 20px;

        &__image {
            width: 100%;
            height: auto;
        }

        &__link {
            position: absolute;
            top: 12px;
            left: 15px;
            @include mixins.flex-center(true);
        }

        &__title {
            color: var(--color-text-dark);
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        &__author {
            font-style: italic;
        }
    }
}