@mixin fluid-text($max: 26, $min: 20) {
    font-size: clamp(#{$min}px, #{calc($max / 1170) * 100}vw, #{$max}px);
}

@mixin reset-link {
    margin: 0;
    padding: 0;
    color: inherit;
    border: none;
    background-color: transparent;

    &,
    &:hover {
        text-decoration: none;
    }
}

@mixin reset-button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

@mixin flex-center($isInline: false) {
    @if $isInline {
        display: inline-flex;
    } @else {
        display: flex;
    }

    justify-content: center;
    align-items: center;
}

@mixin square($size) {
    width: $size;
    aspect-ratio: 1;
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}